name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.5'
      - uses: bazelbuild/setup-bazelisk@v1

      - name: Run Go version
        run: go version

      - name: Check gofmt
        run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

      - name: Run bazel version
        run: bazel --version

      - name: Check bazel generated code # we're skipping over swig, proto, go:generate to keep CI teams low
        run: |
          make bzl
          git diff --exit-code

      - name: Compile artifacts
        run: |
          make build

      - name: Run tests
        run: |
          make test
